@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "VT323", monospace, sans-serif;

}

body {
    background-color: black;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

body.correct {
    background-color: rgb(0, 44, 0); 
}

body.incorrect {
    background-color: rgb(56, 0, 0);
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: black;
    border-radius: 8px;
    padding: 10px;
    border: solid 8px green;
}

#question {
    text-align: center;
    font-size: 1.8rem;
    color: green;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 8px;
}

.btn {
    background-color: green;
    border: 2px solid;
    border-radius: 4px;
    padding: 5px 10px;
    width: 100%;
    font-size: 1.2rem;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(84, 156, 84);
}

.btn.correct {
    background-color: rgb(0, 44, 0);
    border: none;
    color: white;
}

.btn.incorrect {
    background-color: rgb(56, 0, 0);
    border: none;
    color: white;
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 6px 8px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.resultBox {
  text-align: center;
  color: green;
  padding: 10px 20px;
  font-size: 2.2rem;
  font-weight: bold;
}