@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "VT323", monospace, sans-serif;

}

body {
    background-color: aliceblue;
}

#quiz-container, #score-container {  
    background-color: white;  
    width: 60%;  
    margin: 50px auto;  
    padding: 20px;  
    border-radius: 12px;
    text-align: center;
}

h1, h2, h3 {
    margin: 16px auto;
}

button {
    padding: 8px;
    border-radius: 6px;
    background-color: blanchedalmond;
}

button:hover {
    background-color: rgb(231, 211, 182);
    cursor: pointer;
}
