@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "VT323", monospace, sans-serif;

}

body {
    background-color: aliceblue;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

body.correct {
    background-color: green; 
}

body.incorrect {
    background-color: red;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
}

#question {
    text-align: center;
    font-size: 1.8rem;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    background-color: blanchedalmond;
    border: 2px solid;
    border-radius: 4px;
    padding: 5px 10px;
    width: 100%;
}

.btn.correct {
    color: green;
}

.btn.incorrect {
    color: red;
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 6px 0;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.resultBox {
 
  text-align: center;
  color: black;
  padding: 10px 20px;
  font-size: 1.8rem;
  font-weight: bold;
}